<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img class="img-toolbar" src="assets/logo.png"/>
        <ion-title class="title-toolbar">
            Liste des contacts
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="!contactsDisplayed">
        <h3 class="loading">
            <ion-spinner name="crescent" color="secondary"></ion-spinner>
            <ion-text color="secondary">Chargement...</ion-text>
        </h3>

        <ion-item *ngFor="let item of [0, 1, 2, 3, 4, 5]">
            <ion-label>
                <h2><ion-skeleton-text animated></ion-skeleton-text></h2>
                <h3><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></h3>
                <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
            </ion-label>
            <ion-thumbnail slot="end">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
        </ion-item>
    </div>

    <div *ngIf="contactsDisplayed">
        <ion-searchbar [(ngModel)]="search" placeholder="Rechercher par nom..."></ion-searchbar>

        <ion-item *ngFor="let contact of contactsDisplayed | search: 'NOM': search">
            <ion-label>
                <h2 class="name">{{contact.NOM}} {{contact.PRENOM}}</h2>
                <h3>{{contact.EMAIL}}</h3>
                <p>Est situé(e) à {{contact.VILLE}}</p>
            </ion-label>
            <ion-button [routerLink]="'/contact'" [queryParams]="{id: contact.ID}" slot="end">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
                    loadingSpinner="crescent"
                    loadingText="Chargement des autres produits...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
