<ng-container *ngIf="globals.auth == null">
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" required [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button type="submit" (click)="login()" expand="block">Se connecter</ion-button>
</ng-container>

<ng-container *ngIf="globals.auth != null">
    <h3>Bonjour, {{globals.auth.PERSONNE.PRENOM}}</h3>
    <ion-button type="submit" href="/stats">Statistiques des visites</ion-button>
</ng-container>