<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img class="img-toolbar" src="assets/logo.png"/>
        <ion-title class="title-toolbar">
            Carte intéractive
        </ion-title>
    </ion-toolbar>
</ion-header>

<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet'/>

<ion-content scroll="false">
    <ion-card>
        <ion-card-header>
            <h3>Retrouvez vos clients</h3>
        </ion-card-header>
        <ion-card-content>
            <div id='map'></div>
        </ion-card-content>
    </ion-card>
</ion-content> 