<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" [routerLink]="'/categories'">
            <ion-icon name="arrow-back" size="large"></ion-icon>
        </ion-buttons>
        <img class="img-toolbar" src="assets/logo.png"/>
        <ion-title class="title-toolbar">
            Produits
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let product of products">
        <ion-label>{{product.NOM}}</ion-label>
        <ion-button slot="end">
            <ion-icon name="calculator"></ion-icon>
        </ion-button>
    </ion-item>
</ion-content>
