<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img class="img-toolbar" src="assets/logo.png"/>
        <ion-title class="title-toolbar">
            Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="getstart">
    <ion-card>
        <ion-card-content>
            <img class="img-toolbar" src="assets/medicament.jpg"/>
            <app-login></app-login>
        </ion-card-content>
    </ion-card>
</ion-content>
