<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img class="img-toolbar" src="assets/logo.png"/>
        <ion-title class="title-toolbar">
            Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="getstart">
    <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col col-2>
                    <img src="assets/logo.png"/>
                </ion-col>
                <ion-col col-10 class="marquee">
                    <ion-title>
                        <marquee>Bienvenue sur PHARMAPP !</marquee>
                    </ion-title>
                </ion-col>
            </ion-row>
            <br>
            <hr>
            <br>
            Bienvenue sur la page d'accueil. Veuillez-vous connecter pour acceder aux différents outils du menu.
        </ion-card-content>
    </ion-card>
</ion-content>
